@font-face {
	font-family: "Inter";
	src: local("Inter"), local("Inter Regular"), url("../fonts/Inter-R.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Bold"), url("../fonts/Inter-B.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Italic"), url("../fonts/Inter-I.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: local("Inter Bold Italic"), url("../fonts/Inter-BI.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: optional;
}
@font-face {
	font-family: "Inter-fallback-linux";
	src: local("Liberation Sans");
}
@font-face {
	font-family: "Inter-fallback";
	src: local("Arial");
}
@font-face {
	font-family: "Norse";
	src: url("../fonts/Norse-R.woff2");
	font-weight: normal;
	font-style: normal;
	font-display: optional;
}
@font-face {
	font-family: "Norse";
	src: url("../fonts/Norse-B.woff2");
	font-weight: bold;
	font-style: normal;
	font-display: optional;
}
img {
	block-size: auto;
	height: auto;

	object-fit: contain;
}
p {
	min-width: min-content;
}
* {
	/* outline: 1px solid black; */
}

body {
	overflow: hidden; /* Sayfanın kaydırılmasını engeller */
	height: 100%;
}
.icon-x {
	display: none;
}
.icon-skeleton {
	display: flex;
	flex-grow: 1;
	flex-basis: 30%;
	justify-content: center;
}
@container sidebar (width < 160px) {
	.sidebar-menu-1 .menu-item-wrapper,
	.sidebar-menu-2 .menu-item-wrapper {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.logo-item-wrapper {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.menu-item-wrapper .icon {
		height: 2.5em;
	}
	.logo .logo-item-wrapper {
		padding-top: 0.5em;
		gap: 0.25em;
	}
	.logo-item-text {
		font-size: 1.1rem;
	}
}
@container sidebar (width < 100px) {
	.menu-item-text,
	.logo-item-text {
		display: none;
	}
	.menu-item-wrapper .icon {
		height: 3em;
	}
	.logo-item-wrapper .logo-icon {
		height: 3em;
	}
	.sidebar .sidebar-menu-1,
	.sidebar .sidebar-menu-2 {
		gap: clamp(1rem, 0.4vw, 1rem);
	}
}
@container header (width < 600px) {
	.header-top .profile-container {
		font-size: 0.8rem;
	}
	.header-bottom .greet-container {
		display: none;
		font-size: 0.6rem;
		text-align: center;
	}

	.header .header-bottom {
		justify-content: center;
	}
	.header-bottom .button-container {
		justify-content: space-between;
		font-size: 0.6rem;
		flex-grow: 1;
		gap: 2rem;
	}
	.header-bottom .button-container button {
		flex-basis: auto;
		flex-grow: 1;
		flex-shrink: 1;
	}
	.greet-text-container .greet-text {
		text-align: center;
	}
}
@container announcements (height < 250px) {
	.post:last-child {
		display: none;
	}
	hr:last-of-type {
		display: none;
	}
}
@media (width < 1200px) {
	body .container {
		grid-template-columns: 10vw 3fr 1fr;
	}
	.container .sidebar {
		gap: 3em;
	}
	.container .projects-container {
		grid-column: 2/5;
	}
	.container .announcements {
		display: none;
	}
	.container .trending {
		display: none;
	}
}
/* bu denemedir */
@media (width < 1000px) {
	.container .header {
		grid-column-start: 1;
	}
	.container .projects-container {
		grid-column-start: 1;
	}
	.container .sidebar {
		display: none;
	}
	.icon-x {
		display: flex;
		flex-basis: min-content;
		flex-shrink: 0;
		height: 1.5em;
	}
}
/* bu denemedir */
@media (width < 1000px) {
	body .container {
		grid-template-columns: max(3rem, 8vw) 3fr 1fr;
		grid-template-rows: clamp(6rem, 9vw, 10rem) 1fr 1fr;
	}
	.container .sidebar {
		gap: 4em;
	}
	.container .header {
		grid-template-rows: 50% 50%;
	}
	.sidebar-menu-2 {
		padding-bottom: 3rem;
	}
}

.container {
	height: 100dvh;
	width: 100dvw;

	display: grid;
	grid-template-columns: min(13rem, 14vw) 3fr min(20rem, 20vw);
	grid-template-rows: clamp(7rem, 7vw, 9rem) 1fr 1fr;
}

.sidebar {
	grid-column: 1;
	grid-row: 1 / 4;
	background-color: #1992d4;
	color: white;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 0.1fr 0.3fr 1fr;
	gap: 2em;
	align-items: start;
	container-name: sidebar;
	container-type: inline-size;
}
.sidebar > div {
	min-width: 0;
}
.sidebar-menu-1 {
	grid-row: 2 / 3;
	display: grid;
	grid-template-columns: 1fr;
}

.sidebar-menu-1 > *,
.sidebar-menu-2 > * {
	min-width: 0;
}
.sidebar-menu-2 {
	display: grid;
	grid-row: 3 / 4;
	container-name: sidebar;
	container-type: inline-size;
}

.projects-container {
	grid-column: 2 /3;
	grid-row: 2 / 4;
}
.announcements {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
.trending {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}
.logo-item-wrapper {
	padding-left: clamp(0.4rem, 5%, 1rem);
	padding-right: clamp(0.4rem, 5%, 1rem);
	padding-top: 1em;
	width: 100%;
	gap: 0.5em;
	font-size: 1.3rem;
}
.menu-item-wrapper {
	padding: 0.4em clamp(0.4rem, 5%, 1rem);
	container-name: menu-item-wrapper;
	container-type: inline-size;
	gap: 0.5em;
	font-size: 1rem;
}
.menu-item-wrapper,
.logo-item-wrapper {
	display: flex;
}
.menu-item-text {
	flex-grow: 1;
	flex-shrink: 1;
	font-weight: bold;
	flex-basis: 80%;
}
.icon {
	flex-basis: min-content;
	flex-shrink: 0;
	height: 1.5em;
	object-fit: contain;
}
.logo-icon {
	flex-basis: min-content;
	flex-shrink: 0;
	height: 1.5em;
	object-fit: contain;
}
.logo-item-text {
	flex-grow: 1;
	flex-basis: 90%;
	flex-shrink: 1;
	font-weight: bold;
	overflow-wrap: normal;
}

.header {
	box-shadow: var(--shadow-elevation-medium);
	container-name: header;
	container-type: inline-size;
	min-width: 0;
	grid-column: 2 / -1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40% 60%;
	z-index: 2;
}
.header-top,
.header-bottom {
	display: flex;
	justify-content: space-between;
	min-width: 0;
}
.header-top,
.header-bottom {
	gap: clamp(0.4rem, 1.5vw, 2rem);
	padding: 0.5rem clamp(0.5rem, 1.5vw, 3rem);
}
.header-container {
	display: flex;
}

.search-container {
	align-items: center;
	flex-grow: 0;

	justify-content: flex-start;
	gap: clamp(4px, 2%, 20px);
	flex-basis: 50%;
	flex-shrink: 1;
	min-width: 6rem;
}
.profile-container {
	flex-grow: 0;
	flex-basis: clamp(8rem, 50%, 30rem);
	font-size: 1.1rem;
	justify-content: flex-end;
	align-items: center;
	gap: clamp(0.5rem, 1vw, 1.5rem);
}
.search-input {
	flex-grow: 1;
	border-radius: 1em;
	min-width: 0;
	flex-basis: auto;
	flex-shrink: 1;
	border: none;
	background-color: rgb(223, 223, 223);
}

.header-icon {
	height: clamp(0.5em, 45%, 3em);

	min-width: 1rem;
	flex-basis: min-content;
}
.profile-icon {
	height: clamp(1em, 70%, 3em);
	min-width: 1.5rem;
	flex-basis: min-content;
}
.profile-text {
	text-align: center;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	font-weight: bold;
}
/* -------------------------------------------------------------- */
.header-top {
	padding-bottom: 0;
	padding-top: 0;
}
.header-bottom {
	padding-top: 0;
	padding-bottom: 0;
}
.greet-container {
	flex-basis: 40%;
	flex-shrink: 1;
	justify-content: flex-start;
	min-width: 6rem;
	flex-grow: 1;
	align-items: center;
	gap: clamp(0.5rem, 3%, 1rem);
	font-size: clamp(0.8rem, 1.6vw, 1.2rem);
}
.greet-text {
	text-align: start;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	font-weight: bold;
}
.greet-text-container {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}
.button-container {
	align-items: center;
	flex-grow: 0;
	min-width: 0;

	gap: clamp(8px, 4%, 10rem);
	flex-basis: clamp(8rem, 60%, 30rem);
	flex-shrink: 1;

	font-size: 0.8rem;
}
button {
	/* padding: clamp(0.2rem, 1%, 1rem) clamp(0.2rem, 4%, 10rem) ; */
	background-color: #1992d4;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 24px;
	flex-grow: 1;

	min-width: 3rem;
	padding: clamp(0.6em, 0.4vw, 1em) 0;
}
/* -------------------------------------------------------------- */
.trending,
.announcements,
.projects-container,
.sidebar {
	overflow: auto;
}
.label {
	font-weight: bold;
	font-size: var(--font-size-xl);
	color: black;
}
/* -------------------------------------------------------------- */
.projects-container {
	background-color: #e2e8f0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	padding-top: 2rem;
	gap: clamp(0.5rem, 0.5vw, 1rem);
	z-index: 1;
	padding-left: clamp(0.5rem, 1.5vw, 3rem);
	padding-bottom: 2rem;
	padding-right: clamp(0.5rem, 1.5vw, 3rem);
}
.projects {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 200px;
	gap: var(--gap-main);
	justify-content: center;
}
.card {
	border: 1px solid black;
}
.announcements {
	padding-top: 2rem;
	padding-bottom: 1rem;
}
.announcements,
.trending {
	background-color: #e2e8f0;
	display: flex;
	flex-direction: column;

	font-size: 0.7rem;
	color: #424242;
	padding-right: clamp(0.5rem, 1.5vw, 3rem);
	min-height: 0;
	gap: clamp(0.5rem, 0.5vw, 1rem);
}
.post {
	display: flex;
	flex-direction: column;
	flex-basis: 0;

	justify-content: center;
	flex-grow: 1;
	min-height: 0;
}
.announcements-card,
.trending-card {
	background-color: white;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	padding: 0.5rem clamp(1rem, 1.5vw, 3rem);
	flex-grow: 1;
	justify-content: space-around;
	box-shadow: var(--shadow-elevation-medium);
	container-name: announcements;
	container-type: size;
	min-height: 0;
	z-index: 1;
}
.announcements-card-header,
.trending-card-header {
	font-weight: bold;
	font-size: 0.8rem;
	color: black;
}
.announcements-card-text {
	min-height: 0;
}
.trending {
	padding-bottom: 2rem;
	padding-top: 1rem;
}
